<div class="w-100">
  <div class="main mx-auto mt-5 w-50">
    <input type="checkbox" id="chk" aria-hidden="true" />

    <div class="signup">
      <form>
        <label for="chk" aria-hidden="true">Sign up</label>
        <input
          class="py-3"
          type="text"
          name="txt"
          placeholder="Full Name"
          required=""
        />
        <input
          class="py-3"
          type="email"
          name="email"
          placeholder="Email"
          required=""
        />
        <input
          class="py-3"
          type="text"
          name="broj"
          placeholder="Mobile Number"
        />
        <input
          class="py-3"
          type="password"
          name="pswd"
          placeholder="Password"
          required=""
        />
        <button>Sign up</button>
      </form>
    </div>

    <div class="login">
      <form>
        <label for="chk" aria-hidden="true">Login</label>
        <input
          class="py-4"
          type="email"
          name="email"
          placeholder="Email"
          required=""
        />
        <input
          class="py-4"
          type="password"
          placeholder="Password"
          required=""
        />
        <button>Login</button>
      </form>
    </div>
  </div>
</div>
