<div class="w-100">
  <div class="main mx-auto mt-5 w-50">
    <input
      type="checkbox"
      id="chk"
      aria-hidden="true"
      [checked]="isRegistered"
    />

    <div class="signup">
      <form>
        <label for="chk" aria-hidden="true">Sign up</label>
        <input
          [formControl]="fullNameInput"
          class="py-3"
          type="text"
          name="txt"
          placeholder="Full Name"
          required=""
        />
        <input
          class="py-3"
          [formControl]="emailInput"
          type="email"
          name="email"
          placeholder="Email"
          required=""
        />
        <input
          [formControl]="telInput"
          class="py-3"
          type="text"
          placeholder="Mobile Number"
        />
        <input
          class="py-3"
          [formControl]="passwordInput"
          type="password"
          name="pswd"
          placeholder="Password"
          required=""
        />
        <button (click)="signUpClickHandler($event)">Sign up</button>
      </form>
    </div>

    <div class="login">
      <form #registerForm="ngForm">
        <label for="chk" aria-hidden="true">Login</label>
        <input
          class="py-4"
          type="email"
          name="email"
          placeholder="Email"
          required=""
          [(ngModel)]="loginEmail"
        />
        <input
          class="py-4"
          type="password"
          name="password"
          placeholder="Password"
          required=""
          [(ngModel)]="loginPassword"
        />
        <button (click)="loginClickHandler()">Login</button>
      </form>
    </div>
  </div>
</div>
